.extension_officer_services_section .table .btn_bg {border-radius: 4px;}

.extension_officer_services_section .mobile_column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.extension_officer_services_section select {
    /* width: 100%; */
    display: inline-block;
    border: 1.2px solid #a9a9a9;
    border-radius: 6px;
    padding: 4px 8px;
    /* font-size: 1rem; */
    outline: 2px solid transparent;
    transition: border-color 0.4s ease, outline-color 0.4s ease;
    background-color: #fff;
  }
  
.extension_officer_services_section select:focus {
    outline: 2px solid var(--primary-color);
    border-color: var(--primary-color);
  }


@media screen and (min-width: 650px) {
    .extension_officer_services_section .mobile_column {
        align-items: center;
        flex-direction: row;
    }
}
