.forum_header {
    padding: 20px;
    border-radius: 4px;
    /* box-shadow: 0 0 2px #cbcbcb; */
    background-color: #fafafa;
}

.forum_header .reverse {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 20px;
}

.forum_header select {
    border: none;
    border-radius: 6px;
    padding: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.4s ease, outline-color 0.4s ease;
}

.forum_header .btn_bg {border-radius: 4px;}

.forum_card {
    min-height: 200px;
    padding: 20px;
    border-radius: 6px;
    /* box-shadow: 0 0 2px #cbcbcb; */
    box-shadow: 0 0 2px #fafafa;
}

.card_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card_header .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white);
    margin-right: 10px;
    overflow: hidden;
}
.card_header .image img {width: 100%;height: 100%;object-fit: cover;}

.card_header .content {white-space: nowrap;}

.card_header .content span {
    display: inline-block;
    color: var(--primary-color);
    border: 1px solid var(--gray);
    border-radius: 4px;
    margin-left: 20px;
    padding: 2px 8px;
    font-weight: 400;
    font-family: cursive;
}

.card_body textarea.input {
    /* height: 60px; */
    height: 100px;
    border-width: 1.4px;
    background-color: #fafafa;
    transition: height 0.6s ease;
    resize: none;
}
/* .card_body .input:focus {
    height: 100px;
    transition: height 0.4s ease;
} */


/* Comment Section */
.comment_section {
    width: 100%;
    margin-left: auto;
    background-color: #fafafa;
    padding: 20px;
}

.comment {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
}

.comment .com_image {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-right: 10px;
}

.comment .com_content {font-size: 14px;}

.comment_section .line_content {
    background-color: #fafafa;
    color: var(--primary-color);
    font-weight: 700;
}
.comment_section .line {background-color: var(--primary-color);}

@media screen and (min-width: 650px) {
    .forum_header .reverse {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .comment_section {max-width: 600px;}

    .comment {
        padding: 20px;
        border-radius: 6px;
        background-color: var(--white);
    }

    .comment .com_content {font-size: 1rem;}

}
