.otp_section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-gray);
}

.otp_left, .otp_right {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp_left {display: none;}
.otp_left .image {
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.otp_left .image img {width: 100%;height: 100%;object-fit: contain;}

.otp_right {padding: 20px;}
.otp_right .form {
    width: 100%;
    min-height: 50vh;
    background-color: var(--white);
    padding: 50px 20px 40px;
    border-radius: 10px;
}

.otp_right .form .verfication_wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

/* .otp_right .form textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    border: 1.2px solid var(--primary-color);
    border-radius: 8px;
    resize: none;
    outline: none;
    font-size: 1.4rem;
    padding: 16px 17px;
} */
.otp_right .form .verfication_wrapper input {
    width: 50px;
    height: 60px;
    text-align: center;
    border: 1.2px solid var(--primary-color);
    border-radius: 8px;
    font-size: 20px;
    resize: none;
    outline: none;
}

.otp_right .form .verfication_wrapper input::-webkit-outer-spin-button,
.otp_right .form .verfication_wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.otp_btn {
    display: block;
    width: 100%;
    border: 1.4px solid var(--primary-color);
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    transition: background-color 0.2s ease, color 0.2s ease;
    outline: none;
    cursor: pointer;
}
.otp_btn:hover {background-color: var(--white);color: var(--primary-color);}

@media screen and (min-width: 100px) {
    .otp_right .form .verfication_wrapper {grid-template-columns: repeat(1, auto);}
}

@media screen and (min-width: 280px) {
    .otp_right .form .verfication_wrapper {grid-template-columns: repeat(3, auto);}
}

@media screen and (min-width: 330px) {
    /* .otp_right .form .verfication_wrapper {grid-template-columns: repeat(4, auto);} */
    .otp_right .form .verfication_wrapper {grid-template-columns: repeat(5, auto);}
}

@media screen and (min-width: 390px) {
    /* .otp_right .form .verfication_wrapper {grid-template-columns: repeat(5, auto);} */
}

@media screen and (min-width: 650px) {
    .otp_left, .otp_right {width: 50%;}
    .otp_left {display: flex;}
    .otp_right {padding: 30px;}
    .otp_right .form {width: 400px; padding: 50px 40px;}
    .otp_right .form .verfication_wrapper {grid-template-columns: repeat(3, auto);}
}

@media screen and (min-width: 680px) {
    .otp_right .form .verfication_wrapper {grid-template-columns: repeat(4, auto);}
}

@media screen and (min-width: 850px) {
    .otp_right .form .verfication_wrapper {grid-template-columns: repeat(5, auto);}
}
