nav.home_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 2000px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    display: flex;justify-content: center;align-items: center;
    z-index: 20;
}

.home_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 25px;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.home_nav_right .link {display: none !important;}

.home_section {
    position: relative;
    top: 80px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 80px);
}

/* ---- Mobile menu ---- */
.home_section .mobile_section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    transform: translateX(-120vw);
    transition: transform 0.6s ease;
    z-index: 22;
}
.home_section .mobile_section.show {transform: translateX(0);}

.home_section .mobile_section .links_wrapper {
    min-width: max-content;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.home_section .mobile_section .links_wrapper .link {color: var(--white);}
.home_section .mobile_section .links_wrapper .link:hover {color: #a9a9a9;}
.home_section .mobile_section .links_wrapper .link.border_white {
    transition: background-color 0.2s ease, color 0.2s ease;
}
.home_section .mobile_section .links_wrapper .link.border_white:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--primary-color);
}

.home_section .mobile_section .close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.4px solid var(--white);
    background-color: transparent;
    color: var(--white);
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}
.home_section .mobile_section .close_btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

/* Banner Section */
.banner_section {
    width: 100%;
    min-height: 60vh;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner_left, .banner_right {
    width: 100%;
    min-height: 60vh;
    margin-bottom: 50px;
}
.banner_left {
    padding-right: 20px;
}
.banner_left h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}
.banner_left p {font-size: 1.2rem;line-height: 2rem;}

.banner_right .top_image, .banner_right .bottom_image {
    width: 70%;
    height: 70%;
    border-radius: 6px;
    overflow: hidden;
}

.banner_right .top_image {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}
.banner_right .bottom_image {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
}

.banner_right .top_image img, .banner_right .bottom_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Section */
.about_section .cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.about_section .cards .card {
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 2px 1px var(--gray);
    border-radius: 20px;
    padding: 30px;
    transition: transform 0.4s ease;
    overflow: hidden;
    cursor: default;
}

.about_section .cards .card .card_image {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.about_section .cards .card .card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_section .cards .card .card_title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.about_section .cards .card .card_content {
    font-size: 0.9rem;
    line-height: 1.4rem;
}


/* Create Account Section */
.create_account_section {
    width: 100%;
    min-height: 70vh;
    background-color: #F2F1FA;
    color: #000;
    margin: 30px 0;
    padding: 40px 0;
}

.create_account_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create_account_wrapper .account_content {
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.create_account_wrapper .account_content h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.create_account_wrapper .account_content ul {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
}

.create_account_wrapper .account_content ul li {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.account_content .li_icon {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("/check_circle.svg") no-repeat center;
    background-position: center;
    margin-right: 8px;
}

.create_account_wrapper .account_image {
    width: 100%;
    height: 70vh;
    max-width: 500px;
    max-height: 400px;
    display: none;
    justify-content: flex-end;
    align-items: center;
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
}

.create_account_wrapper .account_image img {
    width: 100%;height: 100%;object-fit: cover;
}

/* Buttons */
.create_account_wrapper .account_content .btn_bg {
    border: 1.4px solid #000;
    background-color: #000 !important;
    color: #fff !important;
    padding: 8px 16px;font-size: 20px;
}
.create_account_wrapper .account_content .btn_bg:hover {
    background-color: #fff !important;
    color: #000 !important;
}
.create_account_wrapper .account_content .btn_outline {
    border: 1.4px solid #000;
    background-color: #fff !important;
    color: #000 !important;
    padding: 8px 16px;font-size: 20px;
}
.create_account_wrapper .account_content .btn_outline:hover {
    background-color: #000 !important;
    color: #fff !important;
}
/* Button end */

/* Problem Section */
.problem_section {
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem_wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 100%;
    gap: 20px;
}

.problem_wrapper .pro_image {min-height: 45vh;}

.problem_wrapper .pro_image img {width: 100%;height: 100%;object-fit: contain;}

.problem_wrapper .pro_content {min-width: 300px;}

.problem_wrapper .pro_content h2 {font-size: 1.8rem;}
.problem_wrapper .pro_content p {font-size: 1.2rem;line-height: 2rem;}


/* Download Section */
.download_section {margin: 40px 0;padding: 20px 0;}

.download_section .card_wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 100%;
    gap: 20px;
}

.download_section .card_wrapper .card {
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    border: 1.2px solid gray;
    border-radius: 8px;
    padding: 40px 30px;
    overflow: hidden;
}
.download_section .card_wrapper .card h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.download_section .card_wrapper .card p {
    line-height: 1.7rem;
}

.download_section .card_wrapper .card:nth-child(1) {
    background-color: #333333;
    color: #fff;
}

.download_section .card_wrapper .card:nth-child(1) .btn_bg {
    border-color: #fff;
    background-color: #fff !important;
    color: #333333 !important;
    padding: 12px 20px;
    border-radius: 30px;
}
.download_section .card_wrapper .card:nth-child(1) .btn_bg:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
.download_section .card_wrapper .card:nth-child(1) .btn_bg svg {fill: #333333 !important;}
.download_section .card_wrapper .card:nth-child(1) .btn_bg:hover svg {fill: #fff !important;}

.download_section .card_wrapper .card:nth-child(2) .btn_bg {
    border-color: #333333;
    background-color: #333333 !important;
    color: #fff !important;
    padding: 12px 20px;
    border-radius: 30px;
}
.download_section .card_wrapper .card:nth-child(2) .btn_bg:hover {
    background-color: #fff !important;
    color: #333333 !important;
}
.download_section .card_wrapper .card:nth-child(2) .btn_bg svg {fill: #fff !important; stroke: #333333;}
.download_section .card_wrapper .card:nth-child(2) .btn_bg:hover svg {
    fill: #333333 !important; stroke: #fff;
}

/* Contact Section */
.contact_section {
    min-height: 70vh;
    margin-top: 50px;
    padding: 30px 0;
}

.contact_wrapper {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.contact_wrapper .content,
.contact_wrapper .contact_form {
    min-height: 50vh;
}

.contact_wrapper .content {padding-right: 40px;}

.contact_wrapper .contact_form {
    max-width: 800px;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 30px;
    overflow: hidden;
}

.contact_wrapper .contact_form .form_group {
    margin: 0;
}

.contact_form .btn_bg {
    width: 100%;
    border-color: #fff;
    border-radius: 6px;
    padding: 10px 0;
}

/* Footer Section */
.footer_section {
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
}

.footer_wrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 100%;
    gap: 20px;
}

.footer_right {
    display: grid;
    justify-content: space-between;
    justify-content: center;
    grid-template-columns: repeat(2, calc(50% - 20px));
    gap: 20px;
}
.footer_inner_right {min-height: 150px;}

.footer_inner_right ul {list-style-type: none;}
.footer_inner_right ul li {margin-bottom: 6px;}
.footer_inner_right ul a:hover {color: var(--primary-color);}

.social_icon {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 6px;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.social_icon:hover {transform: translateY(-8px);}
.social_icon svg {width: 100%;height: 100%;object-fit: contain;}



@media screen and (min-width: 650px) {
    .home_nav_right .link {display: inline-block !important;}
    .banner_section {flex-direction: row;}
    .banner_left, .banner_right {width: 50%;height: 60vh;}
    .banner_right .top_image, .banner_right .bottom_image {width: 60%;}

    .about_section .cards {grid-template-columns: auto auto;}
    .about_section .cards .card:hover {transform: scale(1.08);}

    .create_account_wrapper .account_content {
        width: 60%;
        padding-right: 20px;
    }
    .create_account_wrapper .account_content h2 {width: 70%;}
    .create_account_wrapper .account_image {display: flex;}

    .download_section .card_wrapper {
        grid-template-columns: repeat(2, 50%);
    }

    .contact_wrapper {
        grid-template-columns: repeat(2, 50%);
    }

    /* Problem Section */
    .problem_wrapper {
        grid-template-columns: repeat(2, calc(50% - 20px));
    }
    
    .problem_wrapper .pro_content {padding: 30px;}

}


@media screen and (min-width: 800px) {
    .about_section .cards {grid-template-columns: auto auto auto;}

    .footer_wrapper {grid-template-columns: 30% 70%;}
    .footer_right {
        justify-content: space-between;
        grid-template-columns: repeat(4, 20%);
    }
}

