nav.home_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;justify-content: center;align-items: center;
    z-index: 20;
}

.home_nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 25px;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.link:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.home_nav_right .link {display: none !important;}

.home_section {
    position: relative;
    top: 80px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 80px);
}

/* ---- Mobile menu ---- */
.home_section .mobile_section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    transform: translateX(-120vw);
    transition: transform 0.6s ease;
    z-index: 22;
}
.home_section .mobile_section.show {transform: translateX(0);}

.home_section .mobile_section .links_wrapper {
    min-width: max-content;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.home_section .mobile_section .links_wrapper .link {color: var(--white);}
.home_section .mobile_section .links_wrapper .link:hover {color: #a9a9a9;}
.home_section .mobile_section .links_wrapper .link.border_white {
    transition: background-color 0.2s ease, color 0.2s ease;
}
.home_section .mobile_section .links_wrapper .link.border_white:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--primary-color);
}

.home_section .mobile_section .close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.4px solid var(--white);
    background-color: transparent;
    color: var(--white);
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}
.home_section .mobile_section .close_btn:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

/* Banner Section */
.banner_section {
    width: 100%;
    min-height: 60vh;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner_left, .banner_right {
    width: 100%;
    min-height: 60vh;
    margin-bottom: 50px;
}
.banner_left {
    padding-right: 20px;
}
.banner_left h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
}
.banner_left p {font-size: 1.2rem;line-height: 2rem;}

.banner_right {
    position: relative;
}
.banner_right .top_image, .banner_right .bottom_image {
    width: 60%;
    height: 60%;
    background-color: var(--gray);
    border-radius: 6px;
}

.banner_right .top_image {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid skyblue;
    z-index: 4;
}
.banner_right .bottom_image {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 2;
}

.banner_right .top_image img, .banner_right .bottom_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Section */
.about_section .cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.about_section .cards .card {
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 2px 1px var(--gray);
    /* border: 1.4px solid var(--gray); */
    border-radius: 20px;
    padding: 30px;
    transition: transform 0.4s ease;
    overflow: hidden;
    cursor: default;
}
.about_section .cards .card:hover {transform: scale(1.08);}

.about_section .cards .card .card_image {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid var(--gray);
    border-radius: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.about_section .cards .card .card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_section .cards .card .card_title {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.about_section .cards .card .card_content {
    font-size: 0.9rem;
    line-height: 1.4rem;
}




@media screen and (min-width: 650px) {
    .home_nav_right .link {display: inline-block !important;}
    .banner_section {flex-direction: row;}
    .banner_left, .banner_right {
        width: 50%;
        height: 60vh;
    }

    .about_section .cards {grid-template-columns: auto auto;}

}


@media screen and (min-width: 800px) {
    .about_section .cards {grid-template-columns: auto auto auto;}
}

