@font-face {
  font-family: "Nunito";
  src: url("/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
}
:root {
  /* --primary-color: #0C7E46; */
  --primary-color: #31AD4B;
  --white: #fff;
  --black: #000;
  --gray: #e2e2e2;
  /* --light-gray: #f8f8f8; */
  --light-gray: #f3f3f3;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Nunito;
}

.container {width: 90%;margin: 0 auto;}

a {text-decoration: none;color: #777676;}

/* Logo Section */
.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: transform 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
.logo svg, .handburger svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo:hover {transform: scale(1.1);}

/* Handburger Menu */
.handburger {
  display: inline-block;
  width: 34px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

/* Form */
.group {
  display: grid;
  grid-template-columns: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0 0;
}
.form_group {width: 100%;margin: 20px 0 0;}
.form_group .label {display: inline-block;margin-bottom: 6px;}
.form_group .input, .form_group select {
  width: 100%;
  border: 1.2px solid #a9a9a9;
  border-radius: 6px;
  padding: 8px;
  font-size: 1rem;
  outline: 2px solid transparent;
  transition: border-color 0.4s ease, outline-color 0.4s ease;
  background-color: var(--light-gray);
}

.form_group .input:focus {
  outline: 2px solid var(--primary-color);
  border-color: var(--primary-color);
}
::placeholder {color: #a9a9a9;}
.checkbox {
  width: 18px;
  height: 18px;
}

.error {margin: 10px 0;color: #ff0000;}

/* Custom Styles */
.mt {margin-top: 10px}
.mt2 {margin-top: 20px}
.mr {margin-right: 10px}
.mr2 {margin-right: 20px}
.mb {margin-bottom: 10px}
.mb2 {margin-bottom: 20px}
.ml {margin-left: 10px}
.ml2 {margin-left: 20px}

.mx_auto {margin: 0 auto;}
.overflow_hidden {overflow: hidden;}

.rounded1 {border-radius: 10px;}
.rounded2 {border-radius: 20px;}

.bg_primary {background-color: var(--primary-color);}
.text_primary {color: var(--primary-color);}
.text_white {color: #fff;}
.text_orange {color: #ffa500;}

.border_gray {border: 1.4px solid var(--gray);transition: border 0.2s ease}
.border_white {border: 1.4px solid var(--white);transition: border 0.2s ease}

.text_center {text-align: center;}
.h_center {width: 100%;font-size: 2rem;margin: 0 auto 18px;text-align: center;}
.p_center {width: 100%;font-size: 1.1rem;line-height: 2rem;margin: 0 auto;text-align: center;}

.flex_start_center {display: flex;justify-content: flex-start;align-items: center;}
.flex_between_center {display: flex;justify-content: space-between;align-items: center;}
.flex_end_center {display: flex;justify-content: flex-end;align-items: center;}
.flex_center_center {display: flex;justify-content: center;align-items: center;}

.relative {position: relative;}
.absolute_center {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

/* Line */
.line {width: 100%;height: 2px;background-color: var(--black);}
.line_content {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: var(--light-gray);
    color: #000;
    user-select: none;
    white-space: nowrap;
    z-index: 2;
}

/* Buttons */
.btn, .btn_sm, .btn_outline, .btn_bg, .btn_big, .span_btn {
  display: inline-block;
  border: none;
  border-radius: 20px;
  padding: 6px 14px;
  background-color: transparent;
  cursor: pointer;
}

.span_btn {padding: 0;transition: color 0.2s ease;}
.span_btn:hover {color: #0C7E46}

.btn_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.4px solid var(--primary-color);
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.btn_bg:hover {
  background-color: var(--white) !important;
  color: var(--primary-color) !important;
}

.btn_icon {width: 18px;height: 18px;}
.btn_bg .arrow svg, .btn_icon svg {
  stroke: var(--white);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn_bg:hover .arrow svg, .btn_bg:hover .btn_icon svg {stroke: var(--primary-color);}

.btn_outline {
  border: 1.4px solid var(--gray);
  color: var(--primary-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}
.btn_outline:hover {
  border: 1.4px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
}

/* Reg Button */
.reg_btn {
  display: block;
  width: 100%;
  border: 1.4px solid var(--primary-color);
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--white);
  transition: background-color 0.2s ease, color 0.2s ease;
  outline: none;
  cursor: pointer;
}
.reg_btn:hover {background-color: var(--white);color: var(--primary-color);}

/* Back Button */
.back_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.2px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  padding: 4px 8px;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}
.back_btn:hover {background-color: var(--primary-color);color: var(--white);}
.arrow {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.back_btn .arrow svg {
  stroke: var(--primary-color);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back_btn:hover .arrow svg {stroke: var(--white);}

/* Google */
.google_sign_in_out_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 20px auto 0;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--white);
  color: var(--black);
  user-select: none;
  cursor: pointer;
}
.google_sign_in_out_wrapper .icon, .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.icon {width: 36px;height: 36px;cursor: pointer;}
.google_sign_in_out_wrapper .icon svg, .icon svg, .icon img {width: 100%;height: 100%;object-fit: cover;}

/* Table */
.table_wrapper {overflow-x: scroll;}
.table {
  width: 100%;
  margin-bottom: 10px;
}
.table, tr, th, td {
  font-size: 14px;
  border-collapse: collapse;
}
.table thead {
  background-color: var(--light-gray);
}
th, td {
  text-align: left;
  padding: 10px;
}

tbody tr {border-bottom: 1.4px solid var(--gray);}
tbody tr:hover{background-color: #f9f9f9;}

.table .btn_outline {border-radius: 6px;}

@media screen and (min-width: 650px) {
  .logo {width: 56px;height: 56px;}
  .btn_big {padding: 8px 16px;font-size: 20px;}
  .handburger {display: none;}

  .h_center {width: 70%;}
  .p_center {width: 55%;}

  .group {grid-template-columns: repeat(2, 50%);}
}
