@font-face {
  font-family: "Nunito";
  src: url("/fonts/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #0C7E46;
  --white: #fff;
  --black: #000;
  --gray: #e2e2e2;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Nunito;
}

.container {width: 90%;margin: 0 auto;}

a {text-decoration: none;}

/* Logo Section */
.logo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: transform 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}
.logo svg, .handburger svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo:hover {transform: scale(1.1);}

/* Handburger Menu */
.handburger {
  display: inline-block;
  width: 34px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

/* Custom Styles */
.mt {margin-top: 10px}
.mt2 {margin-top: 20px}
.mr {margin-right: 10px}
.mr2 {margin-right: 20px}
.mb {margin-bottom: 10px}
.mb2 {margin-bottom: 20px}
.ml {margin-left: 10px}
.ml2 {margin-left: 20px}

.rounded1 {border-radius: 10px;}
.rounded2 {border-radius: 20px;}

.bg_primary {background-color: var(--primary-color);}
.text_primary {color: var(--primary-color);}
.text_white {color: var(--white);}

.border_gray {border: 1.4px solid var(--gray);transition: border 0.2s ease}
.border_white {border: 1.4px solid var(--white);transition: border 0.2s ease}

.h_center {width: 100%;font-size: 2rem;margin: 0 auto 18px;text-align: center;}
.p_center {width: 100%;font-size: 1.1rem;line-height: 2rem;margin: 0 auto;text-align: center;}

/* Buttons */
.btn, .btn_sm, .btn_outline, .btn_bg, .btn_big {
  display: inline-block;
  border-radius: 20px;
  padding: 6px 14px;
  background-color: transparent;
  cursor: pointer;
}

.btn_bg {
  border: 1.4px solid var(--primary-color);
  background-color: var(--primary-color) !important;
  color: var(--white) !important;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.btn_bg:hover {
  background-color: var(--white) !important;
  color: var(--primary-color) !important;
}

.btn_outline {
  border: 1.4px solid var(--gray);
  color: var(--primary-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}
.btn_outline:hover {
  border: 1.4px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white);
}


@media screen and (min-width: 650px) {
  .logo {width: 56px;height: 56px;}
  .btn_big {padding: 8px 16px;font-size: 20px;}
  .handburger {display: none;}

  .h_center {width: 70%;}
  .p_center {width: 55%;}
}
