/* Map */
.view_farm_section .map {
    width: 100%;
    height: 250px;
    margin: 30px auto 0;
    overflow: hidden;
}
.view_farm_section .map img {width: 100%;height: 100%;object-fit: fill;}

@media screen and (min-width: 650px) {
    .view_farm_section .map {
        height: 400px;
    }
}